body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    height: 300vh;
    width: 100vh;
    border: 1px solid green;
}
.priority {
    text-decoration: none;
}
.name {
    color: plum;
    font-weight: bold;
}
.ballots-directory {
    display: flex;
    gap: 3px;
}
.ballots-directory .home, .ballots-directory .fifteen, .ballots-directory .five {
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px;
}
.ballots {

}