body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}
.card {
    height: auto;
    width: 100vh;
    border: 1px solid green;
}
.priority {
    text-decoration: none;
}
.name {
    color: plum;
    font-weight: bold;
}
.ballots-directory {
    display: flex;
    gap: 3px;
}
.ballots-directory .home, .ballots-directory .fifteen, .ballots-directory .five {
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px;
}
.ballots {
    border: 1px solid green;
    text-align: center;
}
footer {
    display: flex;
    justify-content: center;
    border: 1px solid green;
}
.district-3, .state-senator, .state-representative, .governor{
    border: 1px solid black;
    /* padding: 2px; */
}